<ion-content class="popover-page">
    
      <ion-list class="popover-page">
          <button *ngIf="shareStatus == 'no'"
            ion-item (click)="onEdit()">
            Edit
          </button>
          <button *ngIf="shareStatus == 'no'"
            ion-item (click)="onDelete()"
          >
            Delete
          </button>
          <button *ngIf="shareStatus == 'no'"
            ion-item (click)="onShare()"
          >
            Share
          </button>
          <button *ngIf="shareStatus == 'shared'"
            ion-item (click)="onUnshare()"
          >
            Unshare
          </button>
          <button *ngIf="shareStatus == 'with_me'"
            ion-item (click)="onApply()"
          >
            Apply
          </button>
          <button *ngIf="shareStatus == 'with_me'"
            ion-item (click)="onCancel()"
          >
            Cancel
          </button>
      </ion-list>
</ion-content>
