page-route-details {
    .scroll-content{
        margin-top: 0!important;
    }
    h2 span{
        // color: #67d870;
        font-weight: bold;
    }
    agm-map {
        height: 1000px;
    }
    ion-header{
        ion-icon{
            color: white;
        }
        ion-input{
            font-size: 18px;
            padding-left: 20px;
            ::placeholder {
                color: white!important;
                opacity: 0.8;
            }
            color: white;
        }
        button{
            color: white!important;
        }
        ion-title{
            color: white!important;
        }
        .toolbar-title-md{
            color: white!important;
        }
        .button-inner{
            
        }
    }
    .toolbar-background-md{
        background: #1ea3ff;
    }
    ion-content{
        ion-icon{
            color: #555555;
        }
    }
}
