page-route-details {
    .scroll-content{
        overflow-y: auto!important;
        margin-top: 0!important;
    }

    agm-map {
        height: 1000px;
    }
    // .fixedMap{
    //     height: 300px;
    //     width: 100%;
    //     display: block;
    //     ion-list{
    //         margin-top: 300px;
    //     }
    // }
}
