<!--
  Generated template for the RouteDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-toolbar>
      <ion-title>Route</ion-title>
        <ion-buttons end>
              <button ion-button color="dark" [disabled]="true" *ngIf="true">
                Go
              </button>
            <button ion-button (click)="discard()">
              <span ion-text color="dark">Discard</span>
            </button>
        </ion-buttons>
      </ion-toolbar>
  </ion-navbar>
</ion-header>


<ion-content>
    <agm-map *ngIf="markers" [latitude]="markers[0][0]" [longitude]="markers[0][1]" [zoom]="12">

        <agm-marker 
          *ngFor="let marker of markers"
          [latitude]="marker[0]"
          [longitude]="marker[1]"
        ></agm-marker>

        <agm-polyline 
          *ngFor="let polyline of polylines; let i = index"
          [strokeColor]="'red'"
          [strokeWeight]=5
        >
          <agm-polyline-point 
            [latitude]="polylines[i][0]" 
            [longitude]="polylines[i][1]"
          ></agm-polyline-point>

          <ng-container *ngIf="polylines[i+1]">
            <agm-polyline-point
              [latitude]="polylines[i+1][0]"
              [longitude]="polylines[i+1][1]"
            ></agm-polyline-point>
          </ng-container> 
        </agm-polyline>
      </agm-map>
</ion-content>
