page-route-details {
    .scroll-content{
        margin-top: 0!important;
    }
    h2 span{
        // color: #67d870;
        font-weight: bold;
    }
    agm-map {
        height: 1000px;
    }
    // .fixedMap{
    //     height: 300px;
    //     width: 100%;
    //     display: block;
    //     ion-list{
    //         margin-top: 300px;
    //     }
    // }
}
