<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item  
      *ngFor="let task of tasks"
      (click)="onTask(task);"
    >
      <ion-icon item-start name="logo-usd" class="taskIcon"></ion-icon>
      <h2>{{task.name}}</h2>
      <ion-icon name="md-time" item-end class="clockItem" *ngIf="task.time"></ion-icon>
      <ion-note item-end *ngIf="task.time">
        <p>{{task.time.start_time}}</p>
        <p *ngIf="task.time.duration">{{task.time.duration}}</p>
      </ion-note>
      <div class="placeForPin" item-end>
        <ion-icon name="md-pin" style="zoom: 1.5;" *ngIf="task.location"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

  <!-- <ion-icon name="md-add-circle" class="addButton" (click)="onAddTask()"></ion-icon> -->
  <ion-fab bottom left>
    <button ion-fab color="secondary" (click)="onCreateRoute()">
      
      <ion-icon name="ios-map-outline"  style="zoom: 1.75; opacity:0.6;"></ion-icon>
      <ion-icon name="md-navigate" style="position: absolute; "></ion-icon>
    </button>
</ion-fab>
  <ion-fab bottom right>
      <button ion-fab (click)="onAddTask()">
        <ion-icon name="add" ></ion-icon>
      </button>
  </ion-fab>
</ion-content>