<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item  
      *ngFor="let task of tasks"
      (click)="onTask(task);"
    >
      <ion-icon item-start name="logo-usd" class="taskIcon"></ion-icon>
      <h2>{{task.name}}</h2>
      <ion-icon name="md-time" item-end class="clockItem" *ngIf="task.time.start_time != '' || task.time.duration || task.time.date"></ion-icon>
      <ion-note item-end *ngIf="task.time">
        <p>{{task.time.start_time}}</p>
        <p *ngIf="task.time.duration">{{task.time.duration}}</p>
        <p *ngIf="task.time.date">{{task.time.date}}</p>
      </ion-note>
      <div class="placeForPin" item-end>
        <ion-icon name="md-pin" style="zoom: 1.5;" *ngIf="task.location.address"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
      <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab color="primary" (click)="onAddTask()">
          <ion-icon name="add" ></ion-icon>
        </button>
        <button ion-fab color="primary" (click)="onCreateRoute()">
          <ion-icon name="ios-map-outline"  style="zoom: 1.75; opacity:0.6;"></ion-icon>
          <ion-icon name="add" style="position: absolute; "></ion-icon>
        </button>
        <button ion-fab color="secondary" (click)="onListRoute()">
          <ion-icon name="ios-map-outline"  style="zoom: 1.75; opacity:0.6;"></ion-icon>
          <ion-icon name="md-navigate" style="position: absolute; "></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
</ion-content>