page-home {
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
      }
    ion-item {
        border-bottom: 1px solid rgb(207, 206, 206) !important;
    }
    .placeForPin{
        width: 17.5px;
        height: 28px;
        padding: 0;
    }
    // .addButton{
    //     position: fixed;
    //     bottom: 5%;
    //     right: 10%;
    //     zoom: 4.0;
    //     color: blue;
    // }
    .clockItem{
        zoom:0.8;
    }
}
