<!--
  Generated template for the EditTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{task.name}}</ion-title>
    <ion-buttons end>
        <form item-start ion-button (ngSubmit)="onSubmit(editTaskForm)" [formGroup]="editTaskForm" *ngIf="editTaskForm.enabled">
          <button 
            [formGroup]="editTaskForm" 
            ion-button color="dark" 
            clear type="submit"
            [disabled]="editTaskForm.invalid"
          >
            Save
          </button>
        </form>
        <button 
          item-end ion-button icon-only color="royal" 
          (click)="onMoreOption($event)"
          *ngIf="editTaskForm.disabled"
        >
          <ion-icon name="md-more"></ion-icon>
        </button>
        <button 
          item-end ion-button icon-only color="royal" 
          (click)="onDiscard()"
          *ngIf="editTaskForm.enabled"
        >
          Discard
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
    <ion-list no-lines>
      <form (ngSubmit)="onSubmit(editTaskForm)" [formGroup]="editTaskForm">
        <ion-item>
          <ion-icon item-start name="md-clipboard"></ion-icon>
          <ion-input  type="text" placeholder="Task name" formControlName="name"></ion-input>
        </ion-item>
        <hr>
        <ion-item>
          <ion-icon item-start name="md-briefcase"></ion-icon>
          <ion-input type="text" placeholder="Task type" formControlName="type"></ion-input>
        </ion-item>
        <hr>
        <!--  -->
        
        <ion-item>
          <ion-icon item-start name="md-time"></ion-icon>
          <ion-label floating>Start</ion-label>
          <ion-input type="time" formControlName="time_start"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon item-start name="md-time"></ion-icon>
          <ion-label floating>End</ion-label>
          <ion-input type="time" formControlName="time_end"></ion-input> -->
        </ion-item>
        <hr>
        <ion-item>
          <ion-icon item-start name="md-stats"></ion-icon>
          <ion-label fixed>Priority</ion-label>
        </ion-item>
        <ion-item>
            <ion-segment formControlName="priorety">
                <ion-segment-button value="low">
                  Low
                </ion-segment-button>
                <ion-segment-button value="medium">
                  Medium
                </ion-segment-button>
                <ion-segment-button value="hight">
                  Hight
                </ion-segment-button>
              </ion-segment>
        </ion-item>
        <hr>
        <ion-item>
            <ion-icon item-start name="md-pin"></ion-icon>
            <ion-input 
              (ionFocus)="showAddressModal('place')" 
              formControlName="place"
              type="text"
              placeholder="Choose place"
            ></ion-input>
            <ion-icon name="md-map" item-end></ion-icon>
        </ion-item>
        <hr>
        <ion-item>
            <ion-icon item-start name="person-add"></ion-icon>
            <ion-input type="text" placeholder="Share task" formControlName="shered_to"></ion-input>
        </ion-item>
      </form>
    </ion-list>
  
</ion-content>
