page-routes-preview {
    h2 span{
        // color: #67d870;
        font-weight: bold;
    }
    .tasksRouteTrue{
        // border-top: 1px solid #569756!important;
        // border-bottom: 1px solid #569756!important;       
    }
    ion-header{
        ion-icon{
            color: white;
        }
        ion-input{
            font-size: 18px;
            padding-left: 20px;
            ::placeholder {
                color: white!important;
                opacity: 0.8;
            }
            color: white;
        }
        button{
            color: white!important;
        }
        .toolbar-title-md{
            color: white!important;
        }
    }
    .toolbar-background-md{
        background: #1ea3ff;
    }
    ion-content{
        ion-icon{
            color: #555555;
        }
    }
}
