<ion-header>
  <ion-navbar [hideBackButton]="newTask || !newTask &&taskForm.enabled">
    <ion-toolbar>
      <ion-buttons item-start>
        <button ion-button
          (click)="onDiscard()"
          *ngIf="taskForm.enabled && !newTask || newTask"
          icon-only
        >
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button *ngIf="newTask || !newTask && taskForm.enabled"
          ion-button
          (click)="onSave(taskForm)"
          [disabled]="taskForm.invalid || !formChanged"
        >
          Save
        </button>
        <button *ngIf="!newTask && taskForm.disabled"
          ion-button icon-only
          item-end
          (click)="onMoreOption($event)"
        >
          <ion-icon name="md-more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
  <form  [formGroup]="taskForm">
    <ion-input [disabled]="taskForm.disabled" class="toolbar-background-md" type="text" placeholder="Task name"  formControlName="name"></ion-input>
  </form>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
      <form [formGroup]="taskForm">
      <ion-item>
        <ion-icon item-start name="md-clipboard"></ion-icon>
        <ion-input
          (ionFocus)="showSearchFilterModal($event)"
          type="text" placeholder="Task type" formControlName="place_type"></ion-input>
      </ion-item>
      <hr>
      <ng-container *ngIf="companies">
      <ion-item >
        <ion-icon item-start name="md-briefcase"></ion-icon>
        <ion-input 
          (ionFocus)="showSearchFilterModal($event)"
          type="text" placeholder="Task brand/name/company" formControlName="place_company"></ion-input>
      </ion-item>
      <hr>
    </ng-container>
      <ion-item>
        <ion-icon item-start name="md-pin"></ion-icon>
          <ion-input 
            (ionFocus)="showAddressModal('place')" 
            formControlName="place"
            type="text"
            placeholder="Choose place"
          ></ion-input>
        <ion-icon name="md-map" item-end></ion-icon>
      </ion-item>
      <hr>
      <ion-item>
          <ion-icon item-start name="md-time"></ion-icon>
      </ion-item>
      <ion-item>
          <ion-label item-start>Start</ion-label>
          <ion-datetime item-start placeholder="add time" displayFormat="HH:mm" formControlName="time_start"></ion-datetime>
      </ion-item>
      <ion-item>
            <ion-label item-start></ion-label>
            <ion-datetime item-start placeholder="add date" displayFormat="DD-MM-YYYY" formControlName="time_date"></ion-datetime>
        </ion-item>
      <ion-item>
          <ion-label item-start>Duration</ion-label>
          <ion-datetime item-start 
          hourValues="0,1,2,3,4,5,6,7,8,9,10"
          displayFormat="HH:mm"
          placeholder="add duration"
          formControlName="time_duration"></ion-datetime>
        </ion-item>
        <hr>
      <ion-item>
        <ion-icon item-start name="md-stats"></ion-icon>
         <ion-label fixed>Priority</ion-label>
      </ion-item>
      <ion-item>
          <ion-segment formControlName="priority">
              <ion-segment-button value="low">
                Low
              </ion-segment-button>
              <ion-segment-button value="medium">
                Medium
              </ion-segment-button>
              <ion-segment-button value="hight">
                Hight
              </ion-segment-button>
            </ion-segment>
      </ion-item>
      <hr>
      <ion-item>
          <ion-icon item-start name="person-add"></ion-icon>
          <ion-input type="text" placeholder="Share task" formControlName="shered_to"></ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
