page-create-route {
    ion-header{
        ion-icon{
            color: white!important;
        }
        button{
            color: white!important;
        }
    }
    .toolbar-title-md{
        color: white!important;
        padding-bottom: 10px;
        padding-left: 20px;
    }
    #map {
        width: 100%;
        height: 100%;
    }
    agm-map {
        height: 300px;
    }
    .toolbar-background-md{
        background: #1ea3ff;
    }
    ion-content{
        ion-icon{
            color: #555555;
        }
    }
    
}
