<ion-header>
  <ion-navbar [hideBackButton]="true">
    <ion-toolbar>
      <ion-buttons item-start>
        <button ion-button
            (click)="onDiscard()"
            icon-only
        >
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <form item-start ion-button (ngSubmit)="onSubmit(createRouteForm)" [formGroup]="createRouteForm">
        <button [formGroup]="createRouteForm" ion-button color="dark" clear type="submit" [disabled]="createRouteForm.invalid">
            Save
          </button>
        </form>
      </ion-buttons>
    </ion-toolbar>
    <ion-title>
         New Route
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
      <form (ngSubmit)="onSubmit(createRouteForm)" [formGroup]="createRouteForm">
        <ion-item>
          <ion-segment formControlName="mode">
            <ion-segment-button value="transit">
              <ion-icon name="md-bus"></ion-icon> 
            </ion-segment-button>
            <ion-segment-button value="driving">
              <ion-icon name="md-car"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="walking">
              <ion-icon name="md-walk"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
        <hr>
        <ion-item>
          <ion-icon item-start name="md-pin"></ion-icon>
          <ion-label>Location</ion-label>
        </ion-item>
        <ion-item>
          <ion-label floating *ngIf="location.start_point.address">From</ion-label>
          <ion-input (ionFocus)="showAddressModal('start_point')"
            formControlName="start_point" type="text"
            placeholder="add start adress"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating *ngIf="location.end_point.address">To</ion-label>
          <ion-input (ionFocus)="showAddressModal('end_point')" 
            formControlName="end_point" type="text"
            placeholder="add end adress"
          ></ion-input>
        </ion-item>
        <hr>
        <ion-item>
          <ion-icon item-start name="md-time"></ion-icon>
          <ion-label>Time Window</ion-label>
        </ion-item>
        <ion-item>
          <ion-label item-start>Date</ion-label>
          <ion-datetime item-start placeholder="add date" displayFormat="DD-MM-YYYY" formControlName="date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label item-start>Start</ion-label>
          <ion-datetime
            item-start placeholder="add stat time"
            displayFormat="HH:mm"
            formControlName="start_time"
          >
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label item-start>End</ion-label>
          <ion-datetime
            item-start placeholder="add end time"
            displayFormat="HH:mm"
            formControlName="end_time"
          >
          </ion-datetime>
        </ion-item>
      </form>
    </ion-list>
</ion-content>