<ion-header>
  <ion-navbar [hideBackButton]="true">
    <ion-toolbar>
      <ion-buttons item-start>
        <button ion-button
            (click)="onDiscard()"
            icon-only
        >
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <form item-start ion-button (ngSubmit)="onSubmit(createRouteForm)" [formGroup]="createRouteForm">
        <button [formGroup]="createRouteForm" ion-button color="dark" clear type="submit" [disabled]="createRouteForm.invalid">
            Search Route
          </button>
        </form>
      </ion-buttons>
    </ion-toolbar>
    <ion-title>
         New Route
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
      <form (ngSubmit)="onSubmit(createRouteForm)" [formGroup]="createRouteForm">
        <ion-item>
          <ion-segment formControlName="mode">
            <ion-segment-button value="driving">
              <ion-icon name="md-car"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="walking">
              <ion-icon name="md-walk"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
        <hr>
        <ion-item>
          <ion-icon item-start name="md-pin"></ion-icon>
          <ion-label>Location</ion-label>
        </ion-item>
        <ion-item>
          <ion-label floating *ngIf="location.start_point.address">From</ion-label>
          <ion-input (ionFocus)="showAddressModal('start_point')"
            formControlName="start_point" type="text"
            placeholder="add start adress"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating *ngIf="location.end_point.address">To</ion-label>
          <ion-input (ionFocus)="showAddressModal('end_point')" 
            formControlName="end_point" type="text"
            placeholder="add end adress"
          ></ion-input>
        </ion-item>
        <hr>
        <ion-item>
          <ion-icon item-start name="md-time"></ion-icon>
          <ion-label>Time Window</ion-label>
        </ion-item>
        <ion-item>
          <ion-label item-start>Date</ion-label>
          <ion-datetime item-start placeholder="add date" displayFormat="DD-MM-YYYY" formControlName="date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label item-start>Start</ion-label>
          <ion-datetime
            item-start placeholder="add stat time"
            displayFormat="HH:mm"
            formControlName="start_time"
          >
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label item-start>End</ion-label>
          <ion-datetime
            item-start placeholder="add end time"
            displayFormat="HH:mm"
            formControlName="end_time"
          >
          </ion-datetime>
        </ion-item>
        <hr>
        <ion-item>
          <ion-icon item-start name="md-clipboard"></ion-icon>
          <ion-label>Tasks</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-checkbox color="dark"
            [checked]="checkedAll"
            (ionChange)="onChangeAllTasks($event.checked)"
          ></ion-checkbox>
          <ion-label>select all</ion-label>
        </ion-item>
          <ion-item class="task"
            *ngFor="let task of tasks; let i = index"
          >
          <ion-checkbox color="dark"
            [checked]="chekedTasks[i].checked"
            (ionChange)="onChangeTasks(task._id, i, $event.checked)"
          ></ion-checkbox>
            <ion-icon item-start [name]="task.task_place.place_type.icon" class="taskIcon"></ion-icon>
            <ion-label>{{task.name}}</ion-label>
            <ion-icon name="md-time" item-end class="clockItem" *ngIf="task.time.start_time != '' || task.time.duration || task.time.date"></ion-icon>
            <ion-note item-end *ngIf="task.time">
              <p>{{task.time.start_time}}</p>
              <p *ngIf="task.time.duration">{{task.time.duration}}</p>
              <p *ngIf="task.time.date">{{task.time.date}}</p>
            </ion-note>
            <div class="placeForPin" item-end>
              <ion-icon name="md-pin" style="zoom: 1.5;" *ngIf="task.location.address"></ion-icon>
            </div>
            
          </ion-item>
      </form>
    </ion-list>
    <ion-list no-lines #listOfTasks>
        
      </ion-list>
</ion-content>